
/* .room-container {
  margin-top: 120px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.room-item {
  border-radius: 7px;
  background: #4f4f4f;
  box-shadow:  5px 5px 0px #202020,
              -5px -5px 0px #7e7e7e;
  height: 100px;
  width: 100px;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 25px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.room-item:hover {
  background-color: #888989;
} */




